@model IEnumerable<infiniteworlds_frontend.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
    <a asp-controller="Players" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoCuenta)</th>
            <th>@Html.DisplayName("UserId")</th>
            <th>@Html.DisplayName("GameId")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Username</td>
            <td>@player.EstadoCuenta</td>
            <td>@player.UserId</td>
            <td>@player.GameId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@player.PlayerId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@player.PlayerId" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@player.PlayerId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
