@using infiniteworlds_frontend.Models
@model IEnumerable<User>

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
