@model infiniteworlds_fronted.Models.UserProfileViewModel

<div class="card text-white bg-dark mt-5" style="width: 100%;">
    <div class="card-header text-center">
        <h1>Perfil de Usuario</h1>
    </div>
    <div class="card-body">
        <h2>@Model.LastName</h2> <!-- Mostrar el apellido -->
        <p><strong>Descripción:</strong> @Model.Description</p>
        <p><strong>Fecha de unión:</strong> @Model.DateJoined.ToShortDateString()</p>
        
        <p>
            <strong>Imagen de perfil:</strong>
            @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
            {
                <img src="@Model.ProfilePictureUrl" alt="Imagen de perfil" class="img-thumbnail" style="max-width: 200px;" />
            }
            else
            {
                <span>No hay imagen de perfil disponible.</span>
            }
        </p>
        
        <div class="d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.UserProfileId" class="btn btn-warning">Editar</a>
            
        </div>
    </div>
</div>
